<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/worksparce_automation/src/test"><classes><class name="com.selenium.testcases.DateTimePicker"><methods><include name="dateTime"/></methods></class><class name="com.selenium.testcases.Demo"><methods><include name="demo"/></methods></class><class name="com.selenium.testcases.DynamicTable"><methods><include name="dynamicTable"/></methods></class><class name="com.selenium.testcases.PostCommentsTest"><methods><include name="postingComments"/></methods></class><class name="com.selenium.testcases.UpdatePostTest"><methods><include name="updatePost"/></methods></class><class name="com.selenium.testcases.VerifyWordPressLoginTest"><methods><include name="verifyLogin"/></methods></class></classes></test></suite>